@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #4D284E;
    font-family: 'Silkscreen', sans-serif;
    font-size: 20px;
}